
.flexresponsible-header {
  height: 100px;
  font: 300 35px/95px Lato, sans-serif;
  text-align: center;
  color: #fff;
  background: #567;
}

.flexresponsible-wrap {
  margin: 30px auto;
}

[class*="col-"] {
  margin-bottom: 2%;
  min-height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(0, 0, 0, 0.08);
}

@media all and (min-width: 768px) {
  .flexresponsible-wrap {
    max-width: 720px;
  }

  .row {
    display: -webkit-box;
    /* OLD: Safari, iOS, Android, older WebKit */
    display: -moz-box;
    /* OLD: Firefox (buggy) */
    display: -ms-flexbox;
    /* MID: IE 10 */
    display: -webkit-flex;
    /* NEW: Chrome 21+, Opera 15+, Safari 7+ */
    display: flex;
    /* NEW: Opera 12.1, Firefox 22+ */
    width: 100%;
    /* OLD: Firefox (bugfix) */
  }

  [class*="col-"] {
    margin-right: 2%;
  }

  [class*="col-"]:last-child {
    margin-right: 0;
  }

  .col-1 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
  }

  .col-2 {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -ms-flex: 2;
    -webkit-flex: 2;
    flex: 2;
  }

  .col-3 {
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    -ms-flex: 3;
    -webkit-flex: 3;
    flex: 3;
  }

  .col-4 {
    -webkit-box-flex: 4;
    -moz-box-flex: 4;
    -ms-flex: 4;
    -webkit-flex: 4;
    flex: 4;
  }

  .col-5 {
    -webkit-box-flex: 5;
    -moz-box-flex: 5;
    -ms-flex: 5;
    -webkit-flex: 5;
    flex: 5;
  }

  .col-6 {
    -webkit-box-flex: 6;
    -moz-box-flex: 6;
    -ms-flex: 6;
    -webkit-flex: 6;
    flex: 6;
  }

  .col-7 {
    -webkit-box-flex: 7;
    -moz-box-flex: 7;
    -ms-flex: 7;
    -webkit-flex: 7;
    flex: 7;
  }

  .col-8 {
    -webkit-box-flex: 8;
    -moz-box-flex: 8;
    -ms-flex: 8;
    -webkit-flex: 8;
    flex: 8;
  }

  .col-9 {
    -webkit-box-flex: 9;
    -moz-box-flex: 9;
    -ms-flex: 9;
    -webkit-flex: 9;
    flex: 9;
  }

  .col-10 {
    -webkit-box-flex: 10;
    -moz-box-flex: 10;
    -ms-flex: 10;
    -webkit-flex: 10;
    flex: 10;
  }

  .col-11 {
    -webkit-box-flex: 11;
    -moz-box-flex: 11;
    -ms-flex: 11;
    -webkit-flex: 11;
    flex: 11;
  }

  .col-12 {
    -webkit-box-flex: 12;
    -moz-box-flex: 12;
    -ms-flex: 12;
    -webkit-flex: 12;
    flex: 12;
  }
}
@media all and (min-width: 1024px) {
  .flexresponsible-wrap {
    max-width: 980px;
  }
}
@media all and (min-width: 1200px) {
  .flexresponsible-wrap {
    max-width: 1160px;
  }
}
@media all and (min-width: 1600px) {
  .flexresponsible-wrap {
    max-width: 1560px;
  }
}
